### Encoding Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('test.csv')

In [3]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,188533,Land,Rover LR2 Base,2015,98000,Gasoline,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes
1,188534,Land,Rover Defender SE,2020,9142,Hybrid,395.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,Silver,Black,None reported,Yes
2,188535,Ford,Expedition Limited,2022,28121,Gasoline,3.5L V6 24V PDI DOHC Twin Turbo,10-Speed Automatic,White,Ebony,None reported,NaN
3,188536,Audi,A6 2.0T Sport,2016,61258,Gasoline,2.0 Liter TFSI,Automatic,Silician Yellow,Black,None reported,NaN
4,188537,Audi,A6 2.0T Premium Plus,2018,59000,Gasoline,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes

In [4]:
from sklearn.preprocessing import LabelEncoder
lblencoder = LabelEncoder()

In [5]:
df['model'] = lblencoder.fit_transform(df['model'])

In [6]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,188533,Land,1388,2015,98000,Gasoline,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes
1,188534,Land,1375,2020,9142,Hybrid,395.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,Silver,Black,None reported,Yes
2,188535,Ford,636,2022,28121,Gasoline,3.5L V6 24V PDI DOHC Twin Turbo,10-Speed Automatic,White,Ebony,None reported,NaN
3,188536,Audi,182,2016,61258,Gasoline,2.0 Liter TFSI,Automatic,Silician Yellow,Black,None reported,NaN
4,188537,Audi,181,2018,59000,Gasoline,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes

In [7]:
df['fuel_type'] = lblencoder.fit_transform(df['fuel_type'])
df['brand'] = lblencoder.fit_transform(df['brand'])

In [8]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,188533,26,1388,2015,98000,2,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes
1,188534,26,1375,2020,9142,3,395.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,Silver,Black,None reported,Yes
2,188535,14,636,2022,28121,2,3.5L V6 24V PDI DOHC Twin Turbo,10-Speed Automatic,White,Ebony,None reported,NaN
3,188536,3,182,2016,61258,2,2.0 Liter TFSI,Automatic,Silician Yellow,Black,None reported,NaN
4,188537,3,181,2018,59000,2,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes

In [9]:
df['engine'] = lblencoder.fit_transform(df['engine'])

In [10]:
df['transmission'] = lblencoder.fit_transform(df['transmission'])

In [11]:
def simplify_color(color):
    color = str(color).lower()
    if 'black' in color:
        return 'black'
    elif 'white' in color or 'snow' in color or 'pearl' in color:
        return 'white'
    elif 'gray' in color or 'silver' in color or 'platinum' in color:
        return 'gray/silver'
    elif 'red' in color or 'maroon' in color or 'crimson' in color:
        return 'red'
    elif 'blue' in color or 'navy' in color:
        return 'blue'
    elif 'green' in color:
        return 'green'
    elif 'brown' in color or 'bronze' in color or 'tan' in color:
        return 'brown'
    elif 'yellow' in color or 'gold' in color:
        return 'yellow/gold'
    elif 'orange' in color:
        return 'orange'
    elif 'purple' in color or 'violet' in color:
        return 'purple'
    else:
        return 'other'

In [12]:
df['ext_col'] = df['ext_col'].apply(simplify_color)
df['int_col'] = df['int_col'].apply(simplify_color)

In [13]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,188533,26,1388,2015,98000,2,326,16,white,other,None reported,Yes
1,188534,26,1375,2020,9142,3,787,31,gray/silver,black,None reported,Yes
2,188535,14,636,2022,28121,2,541,3,white,other,None reported,NaN
3,188536,3,182,2016,61258,2,193,39,yellow/gold,black,None reported,NaN
4,188537,3,181,2018,59000,2,365,38,gray/silver,black,None reported,Yes

In [14]:
df['ext_col'] = lblencoder.fit_transform(df['ext_col'])
df['int_col'] = lblencoder.fit_transform(df['int_col'])

In [15]:
df['accident'] = df['accident'].map({'None reported':0, 'At least 1 accident or damage reported': 1 ,np.nan:0  })

In [16]:
df['clean_title'] = df['clean_title'].map({'Yes':1 , np.nan:0})

In [17]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,188533,26,1388,2015,98000,2,326,16,9,6,0,1
1,188534,26,1375,2020,9142,3,787,31,3,0,0,1
2,188535,14,636,2022,28121,2,541,3,9,6,0,0
3,188536,3,182,2016,61258,2,193,39,10,0,0,0
4,188537,3,181,2018,59000,2,365,38,3,0,0,1

In [18]:
df.to_csv('test_data_encoded.csv')